# **Pre processing external Datasets**

In [1]:
import pandas as pd

**preprocessing dataframe with skoda and opel models**

In [2]:
df_models = pd.read_csv('../data/additional datasets/Car_Model_List.csv')
df_skoda_opel= pd.read_csv('../data/additional datasets/automobiles.csv')

In [3]:
# only keep image column
df_skoda_opel = df_skoda_opel[['image']]

# only keep rows that start with 'skoda' or 'opel'
df_skoda_opel = df_skoda_opel[df_skoda_opel['image'].str.startswith('SKODA') | df_skoda_opel['image'].str.startswith('OPEL')]

# create a new column 'brand', input for each row the brand name, if the value has 'SKODA' in it, then 'SKODA', else 'OPEL'
df_skoda_opel['brand'] = df_skoda_opel['image'].apply(lambda x: 'SKODA' if 'SKODA' in x else 'OPEL')

# Pattern: brand + (model) + year-range
pattern = r'^\w+\s+(.*?)\s+\d{4}-(?:\d{4}|Present)'

# Extract model
df_skoda_opel['model'] = df_skoda_opel['image'].str.extract(pattern)

# drop image column
df_skoda_opel = df_skoda_opel.drop(columns='image')

# lower case brand and model
df_skoda_opel['brand'] = df_skoda_opel['brand'].str.lower()
df_skoda_opel['model'] = df_skoda_opel['model'].str.lower()

# remove duplicate rows
df_skoda_opel.drop_duplicates(inplace=True)

**preprocessing dataframe with ford, hyundai, mercedes, toyota, volkswagen, audi and bmw models**

In [4]:
df_models.drop(columns=['objectId', 'createdAt', 'updatedAt', 'ACL', 'Year', 'Category' ], inplace=True)

# lower case all columns
df_models.columns = df_models.columns.str.lower()

#change make column name to brand
df_models.rename(columns={'make': 'brand'}, inplace=True)

# lower case all values in columns
df_models['brand'] = df_models['brand'].str.lower()
df_models['model'] = df_models['model'].str.lower()

# remove duplicate rows
df_models.drop_duplicates(inplace=True)

# change brand values 'mercedes-benz' to 'mercedes'
df_models['brand'] = df_models['brand'].replace('mercedes-benz', 'mercedes')

#valid brands
valid_brands = ['ford', 'hyundai', 'mercedes', 'toyota', 'volkswagen', 'audi', 'bmw']

# keep only the rows with valid brands in df_models
df_models = df_models[df_models['brand'].isin(valid_brands)]

# in the models, remove anything that is between ()
df_models['model'] = df_models['model'].str.replace(r'\(.*\)', '', regex=True)

**merge df_models and df_skoda_opel**

In [5]:
# merge df_models and df_skoda_opel
df_models = pd.concat([df_models, df_skoda_opel], ignore_index=True)

**add missing cars**

In [6]:
# add volkswagen polo
df_models.loc[len(df_models)] = ['volkswagen', 'polo']
df_models.loc[len(df_models)] = ['volkswagen', 't-roc']
df_models.loc[len(df_models)] = ['volkswagen', 'sirocco']
df_models.loc[len(df_models)] = ['volkswagen', 't-cross']
df_models.loc[len(df_models)] = ['volkswagen', 'touran']
df_models.loc[len(df_models)] = ['volkswagen', 'caravelle']
df_models.loc[len(df_models)] = ['volkswagen', 'up']
df_models.loc[len(df_models)] = ['volkswagen', 'tiguan allspace']
df_models.loc[len(df_models)] = ['volkswagen', 'amarok']
df_models.loc[len(df_models)] = ['volkswagen', 'sharan']
df_models.loc[len(df_models)] = ['volkswagen', 'caddy maxi life']

df_models.loc[len(df_models)] = ['toyota', 'verso']
df_models.loc[len(df_models)] = ['toyota', 'urban cruiser']
df_models.loc[len(df_models)] = ['toyota', 'aygo']

df_models.loc[len(df_models)] = ['ford', 'tourneo custom']
df_models.loc[len(df_models)] = ['ford', 'tourneo custom connect']
df_models.loc[len(df_models)] = ['ford', 'grand tourneo connect']
df_models.loc[len(df_models)] = ['ford', 'ka']
df_models.loc[len(df_models)] = ['ford', 'kuga']

df_models.loc[len(df_models)] = ['skoda', 'roomster']
df_models.loc[len(df_models)] = ['skoda', 'kamiq']
df_models.loc[len(df_models)] = ['skoda', 'karoq']

df_models.loc[len(df_models)] = ['opel', 'insignia']
df_models.loc[len(df_models)] = ['opel', 'grandland']

df_models.loc[len(df_models)] = ['hyundai', 'i30']
df_models.loc[len(df_models)] = ['hyundai', 'ix20']

In [7]:
# save df as csv
df_models.to_csv('../data/car_models.csv', index=False)